// chats need a bit of css

.page-user-chats #content {
	max-width: 100%;
}
body.page-user-chats {
	overflow: hidden;
}

.expanded-chat, .chat-modal {
	// no taskbar so hide minimize button
	[data-action="minimize"] {
		display: none!important;
	}
	.chat-content .chat-message {
		.message-body-wrapper .controls {
			[data-action="restore"] {
				display: none;
			}
		}
	}
	.chat-content .chat-message.deleted {
		.message-body-wrapper .controls {
			[data-action] {
				display: none;
			}

			[data-action="restore"] {
				display: inline;
			}
		}

		.message-body {
			opacity: 0.3;
		}
	}
}

/* Mobile handling of chat page */
@include media-breakpoint-down(md) {
	.page-user-chats {
		.chats-full {
			padding-bottom: 8rem!important;
		}

		[component="chat/nav-wrapper"][data-loaded="1"] {
			display: none!important;
		}

		[component="chat/nav-wrapper"][data-loaded="0"] + [component="chat/main-wrapper"] {
			display: none!important;
		}
	}
}
