// themes have a different layout so each one needs this block to set height to 100%
body.page-user-chats {
	> .layout-container {
		height: 100%;
		> #panel {
			height: 100%;
			> .container {
				height: 100%;
			}
		}
	}
}