
body {
	overflow-y: scroll;
}
.ff-secondary {
	font-family: $font-family-secondary;
}

.text-md { font-size: 1.125rem!important; } // 18px
.text-sm { font-size: 0.875rem!important; } // 14px
.text-xs { font-size: 0.75rem!important; } // 12px

.badge.stats {
	background-color: $gray-200;
	color: $gray-700;
	font-size: 12px;
}

.btn-link:hover {
	text-decoration: none;
}

.sticky-tools {
	position: sticky;
	z-index: 3;
	top: calc($spacer * 0.5);
	background-color: $body-bg;
}
// quartz doesn't need body-bg for tool background
.skin-quartz .sticky-tools {
	background-color: initial;
}

.skin-noskin {
	.sticky-tools .btn-link {
		color: $dark;
	}
}

.group-hover-bg:hover {
	background-color: mix($light, $dark, 97);
}

@mixin btn-ghost-base {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: ($spacer * 0.5);
	border-radius: $border-radius-sm;
	border-width: 1px;
	border-color: transparent;
	background-color: transparent;
	padding: ($spacer * 0.25) ($spacer * 0.5);
	text-align: left;
	--bs-text-opacity: 1;
	color: inherit !important;
	$hover-color: mix($light, $dark, 90);
	cursor: pointer;
	&:hover, &.active {
		background-color: $hover-color;
		text-decoration: none;
	}
}

.btn-ghost {
	@include btn-ghost-base();
	line-height: 1.5rem;
}

.btn-ghost-sm {
	@include btn-ghost-base();
	font-size: 0.875rem;
	line-height: 1.25rem;
}