
html {
	height: 100%;
}

body {
	overflow-y: scroll;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

// fixes chrome font boosting :/ https://stackoverflow.com/questions/13430897/how-to-override-font-boosting-in-mobile-chrome
body * {
	max-height:1000000px;
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
}

hr {
	border-top-color: var(--bs-border-color);
	opacity: 1;
}

.ff-base { font-family: $font-family-base !important; }
.ff-sans { font-family: $font-family-sans-serif !important; }
.ff-secondary { font-family: $font-family-secondary; }
.tracking-tight { letter-spacing: -0.02em; }

.caret {
	&::after {
		border: none;
		font-family: "FontAwesome";
		content: "\f078";
	}
}

.placeholder-wave {
	opacity: 0.5;
}

.bg-card-cap {
	--bs-bg-opacity: 1;
	background-color: $card-cap-bg!important;
}

blockquote {
	$bq-border-color: mix($light, $dark, 75%);
	@extend .text-bg-light;
	font-style: normal;
	border-left: 2px solid $bq-border-color;
	padding: 1rem;
	p:last-child {
		margin-bottom: 0;
	}
	.toggle {
		border-color: $bq-border-color!important;
	}
}

body:not(.page-user) {
	#content {
		transition: opacity 150ms linear;
		&.ajaxifying {
			-moz-opacity: 0;
			opacity: 0;
		}
	}
}
.page-user {
	#content {
		transition: opacity 150ms linear;
		&.ajaxifying .account-content {
			transition: opacity 150ms linear;
			-moz-opacity: 0;
			opacity: 0;
		}
	}
}

.sticky-tools {
	position: sticky;
	z-index: 3;
	top: 0;
	padding: 0.25rem 0;
}
// quartz doesn't need body-bg for tool background
.skin-quartz .sticky-tools {
	background-color: initial;
}

.btn-link {
	&:hover, &.active {
		background-color: var(--btn-ghost-hover-color);
		text-decoration: none;
	}
}

.flex-basis-md-200 {
	@include media-breakpoint-up(md) {
		flex-basis: 200px!important;
	}
}

.markdown-highlight {
	@extend .shadow-sm;
	@extend .border;
}

[component="chat/message/body"], [component="post/content"] {
	.img-fluid {
		@extend .shadow-sm;
		padding: $spacer * 0.5;
		margin: $spacer * 0.5 0;
		border: 1px solid $border-color;
		background-color: $light;
		border-radius: $border-radius-sm;
		max-height: 500px;
		width: auto;
	}
}

[component="chat/message/body"],
[component="post/content"],
[component="topic/teaser"] .post-content,
[component="category/posts"] .post-content,
.post-queue.posts-list .post-content {
	a { text-decoration: underline;}
}