@use "pkg:@fontsource-utils/scss" as fontsource;
@use "pkg:@fontsource/inter/scss" as inter;
@use "pkg:@fontsource/poppins/scss" as poppins;

$weights: $font-weight-light, $font-weight-normal, $font-weight-semibold, $font-weight-bold;
$subsets: (latin, latin-ext);
$font-path: "./plugins/nodebb-theme-harmony" !default;


@include fontsource.faces(
	$metadata: inter.$metadata,
	$subsets: $subsets,
	$weights: $weights,
	$styles: all,
	$directory: "#{$font-path}/inter"
);

@include fontsource.faces(
  $metadata: poppins.$metadata,
  $subsets: $subsets,
  $weights: $weights,
  $styles: all,
  $directory: "#{$font-path}/poppins"
);
