@mixin timeline-style() {
	> [component="post"], .timeline-event {
		position: relative;	// for absolutely positioned pseudo-element, below
		border-left: 2px solid $input-group-addon-bg;
		margin-left: 1.5rem;

		&:first-child:before {
			content: '';
			position: absolute;
			top: 0;
			height: 12px;
			width: 12px;
			background-color: $pagination-border-color;
			border-radius: 100%;
			transform: translateX(calc(-50% - .5px));
		}

		&:last-child:after {
			content: '';
			position: absolute;
			bottom: 0;
			height: 12px;
			width: 12px;
			background-color: $pagination-border-color;
			border-radius: 100%;
			transform: translateX(calc(-50% - .5px));
		}

		> div:first-of-type {
			margin-left: -1.5rem;
		}

		.icon .avatar, .timeline-badge {
			// Opaque ring
			position: relative;
			z-index: 1;
			box-shadow: 0 0 0 2px $body-bg inset;
			border: 2px solid $pagination-border-color;
			background: $body-bg;
			padding: 2px;

			line-height: calc(var(--avatar-size) - 4px);
		}

		[component="user/status"] {
			padding: 5px;
			z-index: $zindex-dropdown;
			top: 36px;
			left: 36px;
		}
	}

	@include media-breakpoint-down(sm) {
		[component="post"] {
			border: 0;

			margin-left: initial;
			> div:not(.content) {
				margin-left: 0;
			}
		}

		[component="post"]:last-child:after {
			display: none;
		}

		.timeline-event {
			margin-left: 1rem;

			&:before, &+:not(.timeline-event):before {
				content: '';
				width: 1rem;
				position: absolute;
				top: 0;
				left: calc(-0.5rem - 1px);
				border-bottom: 2px solid lighten($primary, 30%);
			}

			&+:not(.timeline-event):before {
				left: calc(.5rem + 1px);
			}

			&+.timeline-event:before {
				display: none;
			}

			.timeline-text.timeago {
				display: none;
			}
		}
	}

	@include media-breakpoint-up(sm) {
		.timeline-event {
			[component="topic/event/delete"] {
				visibility: hidden;
			}

			&:hover {
				[component="topic/event/delete"] {
					visibility: visible;

					&:hover {
						color: $danger;
					}
				}
			}
		}
	}

	[component="topic/event"], [component="topic/necro-post"] {
		&.timeline-event {
			text-align: left;
			justify-content: left;
			font-size: 1em;

			.timeline-badge {
				float: left;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-shrink: 0;

				width: 24px;
				height: 24px;
				padding: 0;
				margin-left: -0.75rem;
				margin-right: 1.25rem;
				color: $gray-500;
				background-color: $body-bg;
				border: 2px solid $input-group-addon-bg;
				border-radius: 50%;
			}

			.timeline-text {
				line-height: 32px;
				text-transform: initial;
			}
		}
	}
}