.sidebar {
	color: $secondary;
	background-color: $light;
	$hover-color: mix($white, $black, 90);
	&.open {
		max-width: 180px;
		width: 180px;
		.nav-text {
			display: inline;
		}
		.sidebar-toggle {
			justify-content: end;
			.fa-angles-right { display: none; }
			.fa-angles-left { display: inline-block; }
		}
	}
	.nav-link {
		padding: 0;
		&.active {
			background-color: $hover-color;
		}
	}

	.nav-text {
		color: $body-color;
		display: none;
	}

	.nav-btn {
		padding: ($spacer * 0.5);
		border-radius: $border-radius-sm;
		cursor: pointer;
		&:hover {
			background-color: $hover-color;
		}
	}

	.sidebar-toggle {
		justify-content: start;
		.fa-angles-right { display: inline-block; }
		.fa-angles-left { display: none; }
	}

	.search-dropdown {
		width: 300px;
		.quick-search-title, .snippet, .filter-category {
			font-size: 13px;
		}
		.timeago {
			font-size: 12px;
		}
	}
	.notifications-dropdown {
		.notification-chat-content, .relTime {
			font-size: 13px;
		}
	}
}

// these skins set secondary and light colors too close
.skin-lumen, .skin-yeti, .skin-cerulean, .skin-quartz {
	.sidebar {
		color: $dark;
	}
}

.sidebar-left {
	border-right: 1px solid $border-color;
	left: 0px;
}
.sidebar-right {
	border-left: 1px solid $border-color;
	right: 0px;
}