.skin-noskin {
	// only using colors when there is no bootswatch skin applied
	nav.sidebar, .bottombar-nav {
		color: $secondary !important;
		background-color: $light !important;
	}
	.bottombar-nav {
		.dropdown-menu {
			color: $secondary !important;
			background-color: $light !important;
		}
	}
}

.sidebar {
	$hover-color: mix($light, $dark, 90%);

	@include media-breakpoint-up(lg) {
		&.open {
			min-width: 200px;
			max-width: 200px;
			width: 200px;

			.sidebar-toggle {
				.fa-angles-right { display: none; }
				.fa-angles-left { display: inline-block; }
			}
			.visible-open { display: initial; }
			.visible-closed { display: none; }
			hr.visible-open { display: block; }
			.truncate-open {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			.sidebar-toggle-container {
				width: 100%
			}
		}
	}
	.visible-open {	display: none; }
	.visible-closed {display: initial; }

	.truncate-open {
		overflow: initial;
		text-overflow: initial;
		white-space: initial;
	}

	.nav-link {
		@extend .ff-secondary;
		padding: ($spacer * 0.25) ($spacer * 0.5);
		border-radius: $border-radius-sm;
		cursor: pointer;
		&.active {
			background-color: $hover-color;
		}
		&:hover {
			background-color: $hover-color;
		}
	}

	.nav-item {
		.dropdown-menu .dropdown-item {
			@extend .rounded-1;
		}
	}

	#user_dropdown .avatar {
		margin: 2px 0; // fixes the avatar so its height is same as the icons on right sidebar
	}

	.sidebar-toggle {
		justify-content: start;
		.fa-angles-right { display: inline-block; }
		.fa-angles-left { display: none; }
	}

	.search-dropdown {
		width: 300px;
	}

	.chats-dropdown, .notifications-dropdown, .drafts-dropdown {
		min-width: 300px;
		width: 300px;
		.list-container {
			max-height: 400px;
			overflow-y: auto;
		}
	}

	.badge {
		font-size: 9px;
		line-height: 12px;
		&.visible-open {
			font-size:12px;
			line-height: 12px;
			font-weight: normal;
		}
	}

	[data-widget-area="sidebar-footer"] {
		font-size: $font-size-base * 0.75;
	}
}

 /*rtl:begin:ignore*/
 html[data-dir="rtl"] {
	.sidebar {
		&.open {
			.sidebar-toggle {
				.fa-angles-right { display: none; }
				.fa-angles-left { display: inline-block; }
			}
		}
		.sidebar-toggle {
			.fa-angles-right { display: inline-block; }
			.fa-angles-left { display: none; }
		}
	}
}
 /*rtl:end:ignore*/

.bottombar {
	transition: bottom 150ms linear;

	.pagination-block {
		.scroller-container {
			border-right: 3px solid;
			margin-right: 5.5px;
			.scroller-thumb {
				right: -6px;
				padding-right: 15px;
				margin-right: -15px;
			}
		}
	}
}

.bottombar-nav {
	.nav-text {
		font-size: 1rem;
		color: $body-color;
	}
	.nav-link {
		padding: 8px;
		border-radius: $border-radius-sm;
	}
	.usermenu, .chats, .notifications, .drafts, .search, .logged-out-menu {
		.visible-open { display: none; }
	}
	.badge {
		font-size: 9px;
		line-height: 12px;
	}

	.navigation-dropdown, .user-dropdown {
		> li {
			> a, .dropdown-item {
				padding: 10px 20px!important;
			}
		}
		left: 0!important;
		right: 0!important;
		bottom: $spacer*0.5!important;
		box-shadow: none!important;
		max-height: 60vh!important;
		overflow: auto!important;
	}
	.search-dropdown .quick-search-results {
		max-height: 225px!important;
		overflow-y: auto!important;
	}
	.search-dropdown, .chats-dropdown, .notifications-dropdown, .drafts-dropdown {
		left: 0 !important;
		right: 0 !important;
		box-shadow: none!important;

		border-left: 0;
		border-right: 0;
		border-bottom: 0;
		border-radius: 0;

		.list-container {
			max-height: 60vh!important;
			overflow-y: auto!important;
		}
	}
}
