.status {
	font-size: 10px;
	vertical-align: middle;

	&.online {
		background-color: $success;
	}

	&.away {
		background-color: $warning;
	}

	&.dnd {
		background-color: $danger;
	}

	&.offline {
		background-color: $gray-600;
	}
}