.pagination-block { display: none; }

.page-topic {
	[component="topic/title"] {
		font-size: 28px;
		line-height: 34px;
		font-weight: $font-weight-semibold;
	}

	[component="topic/reply"], [component="topic/reply/locked"], [component="topic/reply/guest"] {
		font-size: 14px;
		line-height: 20px;
	}

	.topic {
		.posts {
			max-width: 960px;
			width: 960px;
			// fixes code blocks pushing content out on mobile
			@include media-breakpoint-down(md) {
				max-width: calc(100vw - $grid-gutter-width);
			}
			list-style-type: none;

			&.timeline {
				@include timeline-style;
			}

			.post-header {
				font-size: 13px;
				line-height: 20px;

				.bookmarked {
					transition: $transition-fade;
				}
			}

			> [component="post"] > [component="post/footer"] {
				margin-left: calc($spacer * 2.5);
			}

			[component="post"] {
				&.selected .post-container {
					background-color: mix($body-bg, $body-color, 90%);
				}
				&.deleted .post-container {
					opacity: .5;
				}

				[component="post/content"] {
					@include fix-lists();

					> blockquote {
						> blockquote {
							> *:not(.blockquote) {
								display: none;
							}
						}

						> blockquote.uncollapsed {
							> *:not(.blockquote) {
								display: block;
							}
						}
					}

					pre {
						max-height: calc($font-size-base * 24);
					}
					@include media-breakpoint-up(lg) {
						table { // text-break breaks table formatting
						 	word-break:initial!important;
						}
					}
				}
			}

			[component="post/reply-count"] {
				font-size: $font-size-base * .75;
			}

			[component="post/upvote"], [component="post/downvote"] {
				&.upvoted, &.downvoted {
					background-color: lighten($btn-ghost-hover-color, 5%);

					&:hover {
					background-color: $btn-ghost-hover-color;

					}
				}
			}
		}
	}

	.quick-reply {
		max-width: 960px;
		@include topic-avatars();
	}

	[component="post/replies/container"] {
		&:empty {
			display: none;
		}

		.icon {
			display: none !important;
		}

		.post-header .icon {
			display: initial !important;

			.status {
				display: none;
			}
		}

		.timeline-event {
			display: none !important;
		}

		[component="post"] {
			padding-top: 0 !important;
			padding-bottom: $spacer;
			&:last-of-type {
				padding-bottom: 0;
				.post-footer {
					border-bottom: none !important;
				}
			}
		}
	}

	.pagination-block {
		display: block;
		transition: opacity 250ms ease-in;
		opacity: 0;
		&.ready {
			opacity: 1;
		}
	}
	[component="topic/thumb/list"] {
		height: calc($font-size-base * 4);
	}
}

@include media-breakpoint-up(sm) {
	.page-topic {
		.topic .posts {
			[component="post"] {
				[component="post/actions"] {
					opacity: 0;
					transition: $transition-fade;

					&:has([aria-expanded="true"]) {
						opacity: 1;
					}
				}

				&:hover {
					> .post-footer > [component="post/actions"] {
						opacity: 1;
					}
				}
			}
		}
	}
}