.page-topic {
	[component="topic/title"] {
		font-size: 28px;
		line-height: 34px;
		font-weight: $font-weight-semibold;
	}

	.stats {
		background-color: $gray-200;
		color: $gray-700;
		font-weight: 600;
		font-size: 12px;

		span.hidden-xs {
			font-weight: normal;
			text-transform: lowercase;
		}
	}

	.topic-main-buttons {
		font-family: $font-family-secondary;

		// Hide the dropdown carat only in the post bar
		.navbar-nav {
			a, button {
				font-size: 14px;
				line-height: 20px;
			}

			.dropdown-toggle::after {
				display: none;
			}
		}
	}
}