.composer {
	color: var(--bs-body-color)!important;
	background-color: var(--bs-body-bg)!important;
}

.skin-noskin {
	// only using colors when there is no bootswatch skin applied
	.composer {
		color: var(--bs-secondary) !important;
		background-color: var(--bs-light) !important;
	}
}
@include color-mode(dark) {
	.skin-noskin .composer {
	  color: var(--bs-secondary)!important;
	  background-color: var(--bs-body-bg)!important;
	}
}