ul.topics-list, ul.categories-list {
	li {
		&.deleted {
			opacity: 0.6;
			.meta { display: none!important; }
		}

		&.selected {
			outline: 1px solid $primary;
			[component="topic/select"] {
				color: $primary!important;
			}
		}
		p {
			margin: 0 !important;
		}

		// all other skins use link-color for unread titles
		&.unread .title {
			color: $link-color;
		}

		.ui-sortable-handle {
			cursor: move;
		}
	}
}

// on default skin use primary color for unread titles
.skin-noskin ul.topics-list li.unread .title {
	color: $primary;
}
