[component="topic/navigator"] {
	max-height: calc(200px + (2rem * 4));

	.track {
		width: 2px;
		background-color: $input-group-addon-bg;

		.knob {
			width: 16px;
			height: 16px;
			background-color: $link-color;
			margin-left: 1px;

			transition: $transition-base;

			&:active {
				transition: none;
			}
		}
	}
}