.topic-list {
	overflow-x: hidden!important;
}

[component="category/topic"] {
	&.deleted {
		opacity: 0.6;
	}

	&.selected {
		[component="topic/select"] {
			color: $success!important;
		}
	}
	.lastpost .post-content {
		p { margin-bottom: 0; }
	}

	&.unread .title {
		color: $link-color;
	}
	.ui-sortable-handle {
		cursor: move;
	}
}