.topic .pagination-block {
	min-width: 150px;
	.scroller-container {
		height: 300px;
		border-left: 2px solid $border-color;
		.scroller-thumb {
			cursor: grab;
			&.active {
				cursor: grabbing;
			}
		}
	}
}